@model CommonWeal.NGOWeb.Models.Reset

@{
    ViewBag.Title = "All Rights Reserved";
 
}

@ViewBag.value
  

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*    <script src="~/Bootstrap/js/bootstrap.js"></script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<script>
   
   $(document).ready(function () {
        $("#btnsub").click(function () {
            if ($("#otpval").val() == "@ViewBag.value") {
                $("#verify").remove();

                $('#showbtn').css('visibility', 'visible');
            }
            else {

                alert('please enter a valid otp');
                $('#otpval').val("");
            }
            $("#showbtn").attr("visibility", "visible");
        });
      
   });

</script>
<body>
    <form action="/Reset/VerifyPassword" method="post">
       
        <div class="form-group">
                  <div class="col-xs-6" id="verify">
                       @*@Html.TextBoxFor(a => a.email_address)<br/>*@
                                Verify OTP:<input type="text" id="otpval" class="form-control" name="otp" placeholder="Verify OTP">
                                <br/>
                                <div class="row">
                                <button type="button"  id="btnsub"class="btn1 btn-danger" >Submit</button>
                                 <a href="/Reset/"> <button type="button"  class="btn1 btn-danger" value="Regenerated">Regenerate</button></a>
                                 </div>
                                 
                            </div>
      <br/>
                        
                          <div class="col-xs-6" style="visibility:hidden" id="showbtn">
                               New Password:<input type="text"  class="form-control"  name="newpwd" placeholder="New Password">
                               @Html.ValidationMessageFor(a => a.newpwd)

                               Confirm Password:<input type="text" class="form-control" name="cnfrmpwd"  placeholder="Confirm Password"><br/>
                                   @Html.ValidationMessageFor(a => a.cnfrmpwd)
                           <input type="submit" class="btn btn-danger" value="Submit"/>
                             </div>
              </div>
          
       
    </form>



</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
