@model CommonWeal.NGOWeb.Models.RegisteredUserMeta

@{
    ViewBag.Title = "CreateUser";
}


    <div id="main">
        <div class="panel panel-default">
            <div class="panel-heading" style="">
                <h3>User Registration Form</h3>
            </div>

            <div class="panel-body">
                <div id="user">

                   @* <form name="UserRegistration" id="horizontal" class="form-horizontal" method="post" action="/userRegistration/CreateUser">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)*@
                     @using (Ajax.BeginForm("CreateUser", "UserRegistration", new AjaxOptions { HttpMethod = "POST" }, new { @class = "form-horizontal" }))
                     { 
                        <div class="form-group ">
                            <label class="control-label col-xs-4" for="fn">First Name:*</label>
                            <div class="col-xs-8">
                          @*      @Html.LabelFor(a => a.firstName)*@
                                @Html.TextBoxFor(a => a.FirstName, new { placeholder = "First Name" })
                                @*<input type="text" class="form-control" id="fntext" name="firstName" placeholder="First Name">*@
                                @Html.ValidationMessageFor(a => a.FirstName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="ln">Last Name:*</label>
                            <div class="col-xs-8">
                                 @Html.TextBoxFor(a => a.LastName, new { placeholder = "Last Name" })

                              @*  <input type="text" class="form-control" id="lntext" name="lastname" placeholder="Last Name">*@
                                @Html.ValidationMessageFor(a => a.LastName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="email">Email:*</label>
                            <div class="col-xs-8">
                                 @Html.TextBoxFor(a => a.UserEmail, new { placeholder = "Email ID" })
                               @* <input type="email" class="form-control" id="email" name="login_Email" placeholder="Enter email">*@
                                @Html.ValidationMessageFor(a => a.UserEmail)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="MobileNumber">Mobile Number:*</label>
                            <div class="col-xs-8">
                                 @Html.TextBoxFor(a => a.Mobile, new { placeholder = "Mobile Number" })
                               @* <input type="tel" class="form-control" name="Login_mobileNumber" id="Mnumber" placeholder="Mobile Number">*@
                                @Html.ValidationMessageFor(a => a.Mobile)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-4" for="pwd">Password:*</label>
                            <div class="col-xs-8">
                                @Html.PasswordFor(a => a.UserPassword, new { placeholder = "Password" })
                             @*    @Html.EditorFor(a => a.UserPassword, new { placeholder="Password" })*@
                                @*<input type="password" class="form-control" id="pwd" name="login_password" placeholder="Enter password">*@
                                @Html.ValidationMessageFor(a => a.UserPassword)
                            </div>
                        </div>
                     @*   <div class="form-group">
                            <label class="control-label col-xs-4" for="rpwd">Confirm Password:*</label>
                            <div class="col-xs-6">
                                 @Html.TextBoxFor(a => a.confirmpassword)
                              
                                @Html.ValidationMessageFor(a => a.confirmpassword)
                            </div>
                        </div>*@
                      @*  <div class="form-inline">
                                <label class="control-label col-xs-4" for="gender">Gender:*</label>
                                <div class="col-xs-6">
                                    <input type="radio" class="form-control" name="gid" required />
                                    <label>Male</label>
                                    <input type="radio" class="form-control" name="gid" required /><label>Female</label>
                                </div>
                            </div>*@
                        <div class="form-group">

                           <center> <button type="submit" class="btn btn-primary" onclick="">Submit</button></center><br />
                            <br />
                        </div>
                    @*</form>*@
                     }
                     <p>@TempData["message"]</p>
                    @{Html.EndForm();}
                </div>

            </div>

        </div>

    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
