@model CommonWeal.Data.RegisteredUser

@{
    ViewBag.Title = "CreateUser";
}

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading" style="">
            <h3>User Registration Form</h3>
        </div>

        <div class="panel-body">
            <div id="user">
                @using (Ajax.BeginForm("CreateUser", "UserRegistration", new AjaxOptions { HttpMethod = "POST" }, new { @class = "form-horizontal" }))
                { 
                    <div class="form-group ">
                        <label class="control-label col-xs-4" for="fn">First Name:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.FirstName, new { placeholder = "First Name" })
                            @Html.ValidationMessageFor(a => a.FirstName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="ln">Last Name:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.LastName, new { placeholder = "Last Name" })
                            @Html.ValidationMessageFor(a => a.LastName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="email">Email:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.UserEmail, new { placeholder = "Email ID" })
                            @Html.ValidationMessageFor(a => a.UserEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="MobileNumber">Mobile Number:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.Mobile, new { placeholder = "Mobile Number" })
                            @Html.ValidationMessageFor(a => a.Mobile)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-4" for="pwd">Password:*</label>
                        <div class="col-xs-8">
                            @Html.PasswordFor(a => a.UserPassword, new { placeholder = "Password" })
                            @Html.ValidationMessageFor(a => a.UserPassword)
                        </div>
                    </div>
                     
                    <div class="form-group">

                        <center> <button type="submit" class="btn btn-primary" onclick="">Submit</button></center>
                        <br />
                        <br />
                    </div>
                }
                @Html.Raw(TempData["msg"])
            </div>
        </div>
    </div>
  
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
}
