@model CommonWeal.Data.RegisteredUser

@{
    ViewBag.Title = "All Rights Reserved";
}

<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



@*<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>*@
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@



<script>
    $(document).ready(function () {
        //called when key is pressed in textbox
        $("#quantity").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        
    });
</script>

<div class="container">
   
                 
            <div style="min-width:AUTO;">
                <br />
                <div class="row"><div class="col-xs-8 col-xs-offset-4 col-md-6 col-sm-6 col-md-push-5 col-sm-push-5 "><h2>User Registration</h2></div></div>
                <br />
                @using (Ajax.BeginForm("CreateUser", "UserRegistration", new AjaxOptions { HttpMethod = "POST", OnSuccess = "createsuccess" }, new { @class = "form-horizontal" }))
                {
                    
                        <div class="form-group row">
                        
                        <div  class="col-md-3 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 col-sm-3 col-lg-3 col-xs-12">
                                <label class="control-label" for="first-name">
                                First Name*
                          
                                </label>

                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 col-xs-12">
                                @Html.TextBoxFor(a => a.FirstName, new { placeholder = "First Name", @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(a => a.FirstName, string.Empty, new { @class = "Validation-Message" })
                            </div>
                        </div>
                    
                     <div class="form-group row">
                        
                        <div  class="col-md-3 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 col-sm-3 col-lg-3 col-xs-12">
                            <label class="control-label" for="last-name">
                            Last Name* 
                           
                            </label>
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 col-xs-12">
                            @Html.TextBoxFor(a => a.LastName, new { placeholder = "Last Name", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.LastName, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                    <div class="form-group row">
                        
                        <div  class="col-md-3 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 col-sm-3 col-lg-3 col-xs-12"><label for="middle-name" class="control-label">Email*</label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 col-xs-12">
                            @Html.TextBoxFor(a => a.UserEmail, new { placeholder = "Email", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.UserEmail, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                        @*<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="gender" value="male">
                                    &nbsp; Male &nbsp;
                                </label>
                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="gender" value="female">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Date Of Birth <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                    </div>>*@
                    
                    
                     <div class="form-group row">
                        
                        <div  class="col-md-3 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 col-sm-3 col-lg-3 col-xs-12"><label for="middle-name" class="control-label">Mobile*</label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 col-xs-12">
                            @Html.TextBoxFor(a => a.Mobile, new { placeholder = "Mobile Number", @class = "form-control col-md-7 col-xs-12" ,id="quantity",title="Enter numbers only" })
                            @Html.ValidationMessageFor(a => a.Mobile, string.Empty, new { @class = "Validation-Message" })
                        </div>

                    </div>
                     <div class="form-group row">
                        
                        <div  class="col-md-3 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 col-sm-3 col-lg-3 col-xs-12"><label for="middle-name" class="control-label">Password*</label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 col-xs-12">
                            @Html.TextBoxFor(a => a.UserPassword, new { placeholder = "Password", @class = "form-control col-md-7 col-xs-12", title="Password length should be minimum 8 characters with uppercase lowercase and special character."})
                            @Html.ValidationMessageFor(a => a.UserPassword, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                    
                     <div class="form-group row">
                        
                        <div  class="col-md-3 col-md-offset-2 col-sm-offset-2 col-lg-offset-2 col-sm-3 col-lg-3 col-xs-12"><label for="middle-name" class="control-label">Confirm Password*</label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 col-xs-12">
                            @Html.TextBoxFor(a => a.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.ConfirmPassword, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                   
                    <div class="ln_solid"></div>
                    <div class="form-group row">
                        <div class="col-md-2 col-sm-2 col-md-push-5 col-sm-push-5 col-xs-push-5 col-xs-6">
                            <button type="submit" class="btn btn-success">Submit</button>
                            
                        </div>
                    </div> 
                }
            </div>
      
    </div>

