@model CommonWeal.Data.RegisteredUser

@{
    ViewBag.Title = "CreateUserPost";
}

<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div id="main">
    <div class="panel panel-default">
        <div class="panel-heading" style="">
            <h3>Registration Form</h3>
        </div>
        <div class="panel-body">
            <div id="user">
                @using (Ajax.BeginForm("CreateUser", "UserRegistration", new AjaxOptions { HttpMethod = "POST", OnSuccess = "createsuccess" }, new { @class = "form-horizontal" }))
                { 
                    <div class="form-group ">
                        <label class="control-label col-xs-4" for="fn">First Name:*</label>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(a => a.FirstName, new { placeholder = "First Name" })
                            @Html.ValidationMessageFor(a => a.FirstName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="ln">Last Name:*</label>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(a => a.LastName, new { placeholder = "Last Name" })
                            @Html.ValidationMessageFor(a => a.LastName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="email">Email:*</label>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(a => a.UserEmail, new { placeholder = "Email" })
                            @Html.ValidationMessageFor(a => a.UserEmail)
                            <label id="lblEmail" style="color: red"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="MobileNumber">Mobile Number:*</label>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(a => a.Mobile, new { placeholder = "Mobile Number" })
                            @Html.ValidationMessageFor(a => a.Mobile)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-4" for="pwd">Password:*</label>
                        <div class="col-xs-6">
                            @Html.PasswordFor(a => a.UserPassword, new { placeholder = "Password" })
                            @Html.ValidationMessageFor(a => a.UserPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="pwd">Confirm Password:*</label>
                        <div class="col-xs-6">
                            @Html.PasswordFor(a => a.ConfirmPassword, new { placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(a => a.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <center> <button type="submit" class="btn btn-primary" onclick="">Submit</button></center>
                        <br />
                        <br />
                    </div>@*@Html.ActionLink("Click Here" , "CreateUser","UserRegistration" )}*@
                }

            </div>
        </div>
    </div>
</div>

