@model CommonWeal.NGOWeb.Models.Password

@{
    ViewBag.Title = "All Rights Reserved";
}
 @Scripts.Render("~/Script/jsvalidate")

@Html.Raw(TempData["wrongOTP"])

@using (Html.BeginForm("ConfirmOTP", "Password", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2">
                <div class="forgot-password panel panel-default">
                    <div class="panel-heading">
                        <h3>Forgot Password</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-4" for="fn">Email:</label>
                                <div class="col-xs-8">
                                    @Html.TextBoxFor(model => model.UserEmail, new { placeholder = "Enter Email ID" })
                                    @Html.ValidationMessageFor(model => model.UserEmail)&nbsp;
                                </div>
                            </div>
                            <div class="form-group">
                                <center><button type="submit" class="btn btn-primary" onclick="">Submit</button></center>
                            </div>
                            @if (TempData["EmailID"] != null)
                            {
                                <p>@TempData["EmailID"]</p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  
}


@*<fieldset>
    <legend>Forgot Password</legend>
    <div class="editor-label">
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.UserEmail, new { placeholder = "Enter Email ID" })
        @Html.TextBox("pqr", new { placeholder="New text box" })
        @Html.ValidationMessageFor(model => model.UserEmail)&nbsp;
    </div>

    <p>
        <input type="submit" value="Submit" />
    </p>
</fieldset>*@



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}



