@model CommonWeal.Data.NGOUser
@{
    ViewBag.Title = "All Rights Reserved";
}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<div class="clearfix">
</div>
<div class="container">
    
            
                <br />
               <form name="NGO" class="form-horizontal" action="/NGORegistration/CreateNGO" method="post" enctype="multipart/form-data">
                       <div class="row"><div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12  col-md-push-4 col-lr-push-4 col-sm-push-4"><h2>NGO Registration</h2> </div></div>         
                    <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="NGO Name">
                            NGO Name                      
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.NGOName, new { placeholder = "NGO Name", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.NGOName, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="Unique Id">
                            Unique Id                           
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.UniqueuId, new { placeholder = "Unique Id", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.UniqueuId, string.Empty, new { @class = "Validation-Message" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label for="middle-name" class="control-label">Email</label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.NGOEmailID, new { placeholder = "Email", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.NGOEmailID, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                        @*<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="gender" value="male">
                                    &nbsp; Male &nbsp;
                                </label>
                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="gender" value="female">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Date Of Birth <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                    </div>>*@
                    
                    
                    <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label for="middle-name" class="control-label">Mobile Number</label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.Mobile, new { placeholder = "Mobile Number", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.Mobile, string.Empty, new { @class = "Validation-Message" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label for="middle-name" class="control-label">Password</label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.NGOPassword, new { placeholder = "Password", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.NGOPassword, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label for="middle-name" class="control-label">Confirm Password</label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.ConfirmPassword, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                   <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="Address">
                            Address                        
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.NGOAddress, new { placeholder = "Address", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.NGOAddress, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                     <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="Chairman Name">
                            Chairman Name                         
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.ChairmanName, new { placeholder = "Chairman Name", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.ChairmanName, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                     <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="Photo Id Of Chairman">
                           Photo Id Of Chairman                           
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.ChairmanID,  new { type = "file", @class = "form-control col-md-7 col-xs-12"  })
                            @Html.ValidationMessageFor(a => a.ChairmanID, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                   <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="Parent Organization">
                           Parent Organization                        
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.ParentOrganisation, new { placeholder = "Parent Organization", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.ParentOrganisation, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                     
                   <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="Register with">
                          Register with                         
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                          @Html.DropDownList("RegisteredWith", CommonWeal.NGOWeb.Utility.UIHelper.GetDropDownListFromEnum((typeof(CommonWeal.Data.EnumHelper.RegisteredWith))), "Select Type", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.RegisteredWith, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                     <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="Registration Number">
                           Registration No                          
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">
                            @Html.TextBoxFor(a => a.RegistrationNumber, new { placeholder = "Registration Number", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.RegistrationNumber, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                     
                    <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="Date Of Registration">
                          Date of Registration                          
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">                          
                              @Html.TextBoxFor(model => model.DateOfRegistration, new {placeholder = "Date of Registration", @class = "form-control col-md-7 col-xs-12"} )
                            @Html.ValidationMessageFor(a => a.DateOfRegistration, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="Copy Of Registration">
                         Copy Of Registration                        
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">                        
                              @Html.TextBoxFor(a => a.RegistrationProof,  new { type = "file", @class = "form-control col-md-7 col-xs-12"  })
                            @Html.ValidationMessageFor(a => a.RegistrationProof, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                   <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label" for="FCRA Registration No">
                         FCRA Registration No                       
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">                    
                              @Html.TextBoxFor(a => a.FCRANumber, new { placeholder = "FCRA Number",@class = "form-control col-md-7 col-xs-12"  })                       
                        </div>
                    </div>

                  <div class="form-group row">
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-push-2 col-lr-push-2 col-sm-push-2"><label class="control-label " for="Website URL">
                         Website URL                           
                        </label></div>
                        <div class="col-md-6 col-xs-6 col-sm-6 col-lr-6 col-xs-12 col-md-pull-2 col-pull-lr-2 col-sm-pull-2">                       
                              @Html.TextBoxFor(a => a.WebsiteUrl, new { placeholder = "Website URL",@class = "form-control col-md-7 col-xs-12" })   
                             @Html.ValidationMessageFor(a => a.WebsiteUrl, string.Empty, new { @class = "Validation-Message" })                    
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group row">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-push-4 col-xs-12">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div> 
                </form>
            
        
    
</div>


@*Added on 18/10/2016*@

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @Styles.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#DateOfRegistration').datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
                maxDate: '0'
            });
        });
    </script>
}
