@model CommonWeal.Data.NGOUser
@{
    ViewBag.Title = "All Rights Reserved";
}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<h2 style="padding-left:401px";>NGO Registration</h2>
<div class="clearfix">
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @*     <h2>User Deatils <small>different form elements</small></h2>*@
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
               <form name="NGO" class="form-horizontal" action="/NGORegistration/CreateNGO" method="post" enctype="multipart/form-data">
                                 
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="NGO Name">
                            NGO Name
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.NGOName, new { placeholder = "NGO Name", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.NGOName, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Unique Id">
                            Unique Id 
                            @*<span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.UniqueuId, new { placeholder = "Unique Id", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.UniqueuId, string.Empty, new { @class = "Validation-Message" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.NGOEmailID, new { placeholder = "Email", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.NGOEmailID, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                        @*<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="gender" value="male">
                                    &nbsp; Male &nbsp;
                                </label>
                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="gender" value="female">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Date Of Birth <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                    </div>>*@
                    
                    
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Mobile Number</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.Mobile, new { placeholder = "Mobile Number", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.Mobile, string.Empty, new { @class = "Validation-Message" })
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.NGOPassword, new { placeholder = "Password", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.NGOPassword, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Confirm Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.ConfirmPassword, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                   <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Address">
                            Address
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.NGOAddress, new { placeholder = "Address", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.NGOAddress, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Chairman Name">
                            Chairman Name
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.ChairmanName, new { placeholder = "Chairman Name", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.ChairmanName, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Photo Id Of Chairman">
                           Photo Id Of Chairman
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.ChairmanID,  new { type = "file", @class = "form-control col-md-7 col-xs-12"  })
                            @Html.ValidationMessageFor(a => a.ChairmanID, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                   <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Parent Organization">
                           Parent Organization
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.ParentOrganisation, new { placeholder = "Parent Organization", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.ParentOrganisation, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                     
                   <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Register with">
                          Register with
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          @Html.DropDownList("RegisteredWith", CommonWeal.NGOWeb.Utility.UIHelper.GetDropDownListFromEnum((typeof(CommonWeal.Data.EnumHelper.RegisteredWith))), "Select Type", new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.RegisteredWith, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Registration Number">
                           Registration No
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(a => a.RegistrationNumber, new { placeholder = "Registration Number", @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(a => a.RegistrationNumber, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>
                     
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Date Of Registration">
                          Date Of Registration
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           @* @Html.TextBoxFor(a => a.DateOfRegistration, new { placeholder = "Registration Number", @class = "form-control col-md-7 col-xs-12" })*@
                              @Html.EditorFor(model => model.DateOfRegistration, new {@class = "form-control col-md-7 col-xs-12"} )
                            @Html.ValidationMessageFor(a => a.DateOfRegistration, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Copy Of Registration">
                         Copy Of Registration
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           @* @Html.TextBoxFor(a => a.DateOfRegistration, new { placeholder = "Registration Number", @class = "form-control col-md-7 col-xs-12" })*@
                              @Html.TextBoxFor(a => a.RegistrationProof,  new { type = "file", @class = "form-control col-md-7 col-xs-12"  })
                            @Html.ValidationMessageFor(a => a.RegistrationProof, string.Empty, new { @class = "Validation-Message" })
                        </div>
                    </div>

                   <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FCRA Registration No">
                         FCRA Registration No
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           @* @Html.TextBoxFor(a => a.DateOfRegistration, new { placeholder = "Registration Number", @class = "form-control col-md-7 col-xs-12" })*@
                              @Html.TextBoxFor(a => a.FCRANumber, new { placeholder = "FCRA Number",@class = "form-control col-md-7 col-xs-12"  })                       
                        </div>
                    </div>

                   <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Website URL">
                         Website URL
                            @* <span class="required">*</span>*@
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           @* @Html.TextBoxFor(a => a.DateOfRegistration, new { placeholder = "Registration Number", @class = "form-control col-md-7 col-xs-12" })*@
                              @Html.TextBoxFor(a => a.WebsiteUrl, new { placeholder = "Website URL",@class = "form-control col-md-7 col-xs-12" })   
                             @Html.ValidationMessageFor(a => a.WebsiteUrl, string.Empty, new { @class = "Validation-Message" })                    
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>


@*Added on 18/10/2016*@

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @Styles.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
                maxDate: '0'
            });
        });
    </script>
}
