@model CommonWeal.NGOWeb.Models.NGOUserMeta

@{
    ViewBag.Title = "CreateNgo";
}



@*<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  
    <script src="~/Scripts/FormValidation.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
</head>*@
@*<script>
    $(function () {
        $('.datepicker').datepicker();
    });
    $(function () {
        $("#JoiningDate").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
    $(function () {
        $.validator.addMethod("date", function (value, element) {
            var ok = true;
            try {
                $.datepicker.parseDate('dd/mm/yy', value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });
    });

</script>*@
<body>
    <div class="panel panel-default" id="panel">
        <div class="panel-heading" style="">
            <h3>NGO Registration Form</h3>
        </div>
        <div class="panel-body">
            <div id="ngo">
                <form name="NGORegistration" class="form-horizontal" action="/ngoRegistration/CreateNGO" method="post" enctype="multipart/form-data">
                    <br />
                    <br />

                    <div class="form-group">
                        <label class="control-label col-xs-4" for="fn">NGO Name:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.NGOName, new { placeholder = "Name" })&nbsp;
                            @*<input type="text" class="form-control" name="ngo_userName" id="ngo name" placeholder="NGO name">*@
                            @Html.ValidationMessageFor(a => a.NGOName)

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="ln">Unique Id:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.UniqueuId, new { placeholder = "Uniqueu ID" })&nbsp;
                            @* <input type="text" class="form-control" name="ngo_UniqueuId" id="Unique Id" placeholder="Unique Id">*@
                            @Html.ValidationMessageFor(a => a.UniqueuId)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="email">Email:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.NGOEmailID, new { placeholder = "Email ID" })&nbsp;
                            @*<input type="email" name="ngo_Email" class="form-control" id="email1" placeholder="Enter email">*@
                            @Html.ValidationMessageFor(a => a.NGOEmailID)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-4" for="MobileNumber">Mobile No:*</label>
                        <div class="col-xs-8">

                            @Html.TextBoxFor(a => a.Mobile, new { placeholder = "Mobile Number" })&nbsp;
                            @*<input type="text" name="ngo_mobileNumber" class="form-control" id="MobileNumber" placeholder="Mobile Number">*@
                            @Html.ValidationMessageFor(a => a.Mobile)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="Address">Address:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.NGOAddress, new { placeholder = "Address" })&nbsp;
                            @*<input type="text" class="form-control" name="ngo_Address" id="Address" placeholder="Address">*@
                            @Html.ValidationMessageFor(a => a.NGOAddress)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="CheifFunctionary/ChairmanName">Chairman Name:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.ChairmanName, new { placeholder = "Chairman Name" })&nbsp;
                            @* <input type="text" class="form-control" name="ngo_ChairmanPersonName" id="CheifFunctionaryChairmanName" placeholder="CheifFunctionary/Chairman Name" />*@
                            @Html.ValidationMessageFor(a => a.ChairmanName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="PhotoIdOfChairman">Photo Id Of Chairman:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(m => m.ChairmanID, new { type = "file" })
                            @Html.ValidationMessageFor(a => a.ChairmanID)
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="ParentOrganization">Parent Organization:*</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.ParentOrganisation, new { placeholder = "Name of current organisation" })&nbsp;
                            @*<input type="text" class="form-control" name="ngo_ParentOrganisation" id="ParentOrganization" placeholder="Parent Organization">*@
                            @Html.ValidationMessageFor(a => a.ParentOrganisation)
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-4" for="RegisterWith">Register With:*</label>
                        <div class="col-xs-5">
                            @* @Html.TextBoxFor(a => a.RegisteredWith, new { placeholder="Registered With" })*@
                            @* <input type="text" class="form-control" name="ngo_RegisteredWith" id="RegisterWith" placeholder="Register With">*@
                            @Html.DropDownList("RegisteredWith",
                          CommonWeal.NGOWeb.Utility.UIHelper.GetDropDownListFromEnum((typeof(CommonWeal.NGOWeb.TypeHelper.RegisteredWith))),
                           "Select Type",
                            new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.RegisteredWith)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="RegisterationNumber">Registration No:* </label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.RegistrationNumber, new { placeholder = "Registration Number" })&nbsp;
                            @* <input type="text" class="form-control" name="ngo_RegistrationNumber" id="RegisterationNumber" placeholder="Registeration Number" />*@
                            @Html.ValidationMessageFor(a => a.RegistrationNumber)
                        </div>
                    </div>

                    @* <div class="form-group">
                        <label class="control-label col-xs-4" for="StateOfRegistration">State Of Registration:*</label>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m., (SelectList)ViewBag.Country, new { @class = "form-control" })<br />
                            @Html.ValidationMessageFor(a => a.ngo_State)
                           
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-4" for="CityOfRegistration">City Of Registration:*</label>
                        <div class="col-xs-6">
                            @Html.DropDownListFor(m => m.ngo_City, (SelectList)ViewBag.Country, new { @class = "form-control" })<br />
                            @Html.ValidationMessageFor(a => a.ngo_City)
                           
                        </div>
                    </div>*@





                    @*  Changed By Rishiraj Start*@
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="DateOfRegistration">Date Of Registration:* </label>
                        <div class="col-xs-8">
                            @Html.EditorFor(model => model.DateOfRegistration, new { placeholder = "Select Date" })
                            @Html.ValidationMessageFor(model => model.DateOfRegistration)
                            @*        <input type="date" class="form-control" id="JoiningDate" name="dateOfregistration" />*@
                        </div>
                    </div>
                    @*  Changed By Rishiraj END*@



                    <div class="form-group">
                        <label class="control-label col-xs-4" for="CopyOfRegistration">Copy Of Registration:*</label>
                        <div class="col-xs-8">
                            <div class="editor-label">

                                @Html.TextBoxFor(m => m.RegistrationProof, new { type = "file" })
                            </div>
                            @Html.ValidationMessageFor(a => a.RegistrationProof)
                            @* <input type="file" class="btn1 btn-default btn-file" name="filengo_CopyOfRegistration" title="No File Choosen" />*@
                        </div>
                    </div>
                    @* <div class="form-group">
                        <label class="control-label col-xs-4" for="NGO Type">NGO Type:*</label>
                        <div class="col-xs-6">

                            @Html.DropDownListFor(m => m.ngo_Type, (SelectList)ViewBag.Country, new { @class = "form-control" })<br />
                            @Html.ValidationMessageFor(a => a.ngo_Type)

                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="FCRARegisterationNumber">FCRA Registeration No:* </label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.FCRANumber, new { placeholder = "FCRA Number" })&nbsp;
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="control-label col-xs-4" for="AreaOfInterest">Area Of Interest:* </label>


                       
                            @Html.DropDownListFor(m => m.ngo_AreaOfIntrest, (SelectList)ViewBag.Country, new { @class = "form-control" })<br />
                            @Html.ValidationMessageFor(a => a.ngo_AreaOfIntrest)
                          
                        </div>
                    </div>*@
                    @*<div class="form-group">
                        <label class="control-label col-xs-4" for="OprationalArea">Operational Area (City):*</label>
                        <div class="col-xs-6">
                        
                            @Html.DropDownListFor(m => m.ngo_OperationalAera, (SelectList)ViewBag.Country, new { @class = "form-control" })<br />
                            @Html.ValidationMessageFor(a => a.ngo_OperationalAera)
                          
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="WebsiteURL">Website URL:* </label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(a => a.WebsiteUrl, new { placeholder = "Website URL" })&nbsp;
                            @*<input type="url" class="form-control" name="ngo_WebsiteUrl"placeholder="Website URL" id="WebsiteURL" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="pwd">Password:*</label>

                        <div class="col-xs-8">
                            @Html.PasswordFor(a => a.NGOPassword, new { placeholder = "Password" })
                            @* @Html.EditorFor(a => a.NGOPassword, new { placeholder="Password" })<br />*@
                            @* <input type="password" class="form-control" id="pwd" name="ngo_password" placeholder="Enter password">*@
                            @Html.ValidationMessageFor(a => a.NGOPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" for="pwd">Confirm Password:*</label>
                        <div class="col-xs-6">
                            @Html.PasswordFor(a => a.CnfrmPassword, new { placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(a => a.CnfrmPassword)
                        </div>
                    </div>
                    @* <div class="form-group">

                        <label class="control-label col-xs-4" for="rpwd">Confirm Password:*</label>
                        <div class="col-xs-6">
                            @Html.EditorFor(a => a.ngo_password)<br />
                           
                        </div>*@
                    <br />
                    <br />
                    <div class="form-group">

                        <center><button type="submit" class="btn btn-primary" onclick="">Submit</button></center>
                        <br />
                        <br />
                    </div>
                </form>
            </div>
        </div>
    </div>


    @Html.Raw(TempData["msg"])

</body>

@*Added on 18/10/2016*@

@section Scripts {

    @Scripts.Render("~bundles/datapicker");

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>

}

