<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <title>@ViewBag.Title - All Right Reserved</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/sitecss")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header class="col-md-12 navbar-fixed-top" role="navigation">
     

        @Html.Partial("_LoginPartial")
         
    </header><br/><br/><br/><br/><br/>
    <div id="body" class="container">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix" style="width: 100%;">
            @RenderBody()
        </section>
    </div>
    <footer class=" navbar-fixed-bottom">

        <div class="content-wrapper">
            <div>
                <p style="text-align:center;font-size:large;color:white;padding-top:10px;">&copy; @DateTime.Now.Year - Commonweal</p>
            </div>
        </div>

    </footer>


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("scripts", required: false)
</body>
</html>
