<div class="col-md-12 ">

    @* <a class="navbar-brand" href="http://disputebills.com"><img src="http://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png" alt="Dispute Bills">
        </a>*@

    <a href="@Url.Action("Index", "Home")" class="navbar-brand">         
        <img src="~/Images/Logo1.png" style="max-height: 100px; max-width: 70px" />
    </a>

    <nav>        
        <div id="menu" class="right" style="margin-top: 25px;">
            @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <span class="usernav">Hello @ViewBag.LoginUser.UserName</span>  
                
                <div>
                    <a href="@Url.Action("Index", "UserHome")" class="menuitem fa fa-user" title="Home"></a>
                    <a  href="@Url.Action("LogOut", "Login")"  class="menuitem fa fa-sign-out"></a>
                </div>       
                <input type="hidden" id="appUserName" value="@ViewBag.LoginUser.LoginEmailID" /> 
                <script>
                    userName = '@HttpContext.Current.User.Identity.Name';
                </script>
            }
            else
            {
                <span class="usernav">Hello Guest</span> 
                <div>
                    <a href="@Url.Action("Index", "Home")" class="menuitem fa fa-home" title="Home"></a>
                    <a href="@Url.Action("Index", "Login")" class="menuitem fa fa-sign-in" title="Sign In"></a>
                    <a href="@Url.Action("CreateNGO", "NGORegistration")" class="menuitem fa fa-group" title="Sign up as NGO"></a>
                    <a href="@Url.Action("CreateUserPost", "UserRegistration")" class="menuitem fa fa-user-plus" title="Sign up as User"></a>
                </div>          
            }
        </div>
    </nav>
</div>
