<div class="col-md-12 ">

    @* <a class="navbar-brand" href="http://disputebills.com"><img src="http://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png" alt="Dispute Bills">
        </a>*@



    <nav>
        <div id="menu" class="right">
            @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
            {
                if (@ViewBag.LoginUser != null)
                {
                <span class="usernav">Hello @ViewBag.LoginUser.UserName</span>  
                    if (System.Web.HttpContext.Current.User.IsInRole("NGOAdmin"))
                    {
                <div>
                    <a href="@Url.Action("Index", "NGOHome")" class="menuitem fa fa-home" title="Home"></a>
                    <a href="@Url.Action("Index", "NGOProfile")" class="menuitem fa fa-user" title="Profile"></a>
                    <a  href="@Url.Action("LogOut", "Login")"  class="menuitem fa fa-power-off" title="Logout"></a>
                </div>      
                    }

                    else
                    {

                        if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
                        {
                <div>
                    @*<a href="@Url.Action("Index", "UserHome")" class="menuitem fa fa-home" title="Home"></a>*@
                    <a href="@Url.Action("Index", "Admin")" class="menuitem fa fa-tachometer" title="Dashboard"></a>
                    <a  href="@Url.Action("LogOut", "Login")"  class="menuitem fa fa-power-off"  title="Logout"></a>
                </div>      
                        }

                        else
                        {
                <div>
                    <a href="@Url.Action("Index", "UserHome")" class="menuitem fa fa-home" title="Home"></a>
                    <a  href="@Url.Action("LogOut", "Login")"  class="menuitem fa fa-power-off"  title="Logout"></a>
                </div>  
                        }
                    }
                
                <input type="hidden" id="appUserName" value="@ViewBag.LoginUser.LoginEmailID" /> 
                <script>
                    userName = '@HttpContext.Current.User.Identity.Name';
                </script>
                }
            }

            else
            {
                <span class="usernav">Hello Guest</span> 
                <div>
                    <a href="@Url.Action("Index", "Home")" class="menuitem fa fa-home" title="Home"></a>
                    <a href="@Url.Action("Index", "Login")" class="menuitem fa fa-sign-in" title="Sign In"></a>
                    <a href="@Url.Action("CreateNGO", "NGORegistration")" class="menuitem fa fa-group" title="Sign up as NGO"></a>
                    <a href="@Url.Action("CreateUserPost", "UserRegistration")" class="menuitem fa fa-user-plus" title="Sign up as User"></a>
                </div>          
            }
        </div>
    </nav>
</div>
