<script src="~/Scripts/jquery-1.7.1.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>*@
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>

<div class="col-md-12 ">

    @* <a class="navbar-brand" href="http://disputebills.com"><img src="http://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png" alt="Dispute Bills">
        </a>*@



    <nav class="navbar-right">
        @*          @Html.DropDownList("category", (SelectList)ViewBag.categoryList, new { @class = "form-control chosen-select-multiple selectcategory",id = "selectcategory", @multiple = "multiple", })*@



        @*@Html.DropDownList("category", (SelectList)ViewBag.category, new { @class = "form-control chosen-select-multiple", id="category", @multiple = "multiple",})*@
        <div id="menu">
            @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
            {
                if (@ViewBag.LoginUser != null)
                {
                <div class="usernav">Hello @ViewBag.LoginUser.UserName</div>  
                    if (System.Web.HttpContext.Current.User.IsInRole("NGOAdmin"))
                    {
                <div class="row vdivide">
                    <a href="@Url.Action("Index", "NGOHome")" class="menuitem fa fa-home" title="Home"></a>
                    <a href="@Url.Action("Index", "NGOProfile")" class="menuitem fa fa-user" title="Profile"></a>
                    <a  href="@Url.Action("LogOut", "Login")"  class="menuitem fa fa-power-off" title="Logout"></a>
                </div>      
                    }

                    else
                    {

                        if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
                        {
                <div>
                    @*<a href="@Url.Action("Index", "UserHome")" class="menuitem fa fa-home" title="Home"></a>*@
                    <a href="@Url.Action("Index", "Admin")" class="menuitem fa fa-tachometer" title="Dashboard"></a>
                    <a  href="@Url.Action("ChangePassword", "Admin")"  class="menuitem fa fa-retweet" title="Reset Password"></a>
                    <a  href="@Url.Action("LogOut", "Login")"  class="menuitem fa fa-power-off"  title="Logout"></a>

                </div>      
                        }

                        else
                        {
                <div>
                    <a href="@Url.Action("Index", "UserHome")" class="menuitem fa fa-home" title="Home"></a>
                    <a  href="@Url.Action("LogOut", "Login")"  class="menuitem fa fa-power-off"  title="Logout"></a>
                </div>  
                        }
                    }
                
                <input type="hidden" id="appUserName" value="@ViewBag.LoginUser.LoginEmailID" /> 
                <script>
                    userName = '@HttpContext.Current.User.Identity.Name';
                </script>
                }
            }

            else
            {
                <span class="usernav">Hello Guest</span> 
                <div>
                    <a href="@Url.Action("Index", "Home")" class="menuitem fa fa-home" title="Home"></a>
                    <a href="@Url.Action("Index", "Login")" class="menuitem fa fa-sign-in" title="Sign In"></a>
                    <a href="@Url.Action("CreateNGO", "NGORegistration")" class="menuitem fa fa-group" title="Sign up as NGO"></a>
                    <a href="@Url.Action("CreateUserPost", "UserRegistration")" class="menuitem fa fa-user-plus" title="Sign up as User"></a>
                </div>          
            }
        </div>
    </nav>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $(".chosen-select-multiple").chosen();
        $('.chosen-select-multiple').change(function () {
            if ($(this).val() != null && $(this).val().length > 0) {
                $.each($(this).val(), function (key, value) {
                    if (value == 1) {
                        $('.chosen-select-multiple').val('').trigger('chosen:updated');
                        $('.chosen-select-multiple').val('1').trigger('chosen:updated');
                    }
                });
            }
            else { $('.chosen-select-multiple').val('').trigger('chosen:updated'); }
            console.log($('.chosen-select-multiple').val().length);
        });

        $("#category").change(function () {
            if ($(this).val() > 0) {
                $.post("/post/GetPostByCategory?category=" + $(this).val(), function (result) {

                    // $("#loadMoreSection").append(result);
                    //    console.log(result);
                    if (result != null) {
                        $("#postsection").html("");
                        $("#loadMoreSection").html("");
                        $("#loadMoreSection").append(result);
                    }
                    //    //console.log(result);
                });
            }

        });

    });
</script>
@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}

B