@model CommonWeal.Data.NGOUser

@{
    ViewBag.Title = "All Rights Reserved";
}
 <div class="detailspanel panel panel-default"> 

     <p> Samman,established in 2000 working in the direction to support in areas like child welfare,Women Empowerment,\
         Health and provides emergenc services.we are continously working to improvise all.
         Our 500 volunteers are trying to build them up.
         <br/>
         <br/>
         <br/>
          <br/>





     </p>




     



<table style="background-color:lightgray;">
<thead>
    <tr>
    <th>UniqueuID</th>
     <th>Name</th>
     <th>EmailID</th>
     <th>Mobile</th>
     <th>Address</th>
     <th>Chairman Name</th>
     <th>Parent Organisation</th>
     <th>Registered With</th>
    <th>Registration Number</th>
    <th>FCRA Number</th>
        </tr>

</thead>
    <tbody>   
        <td>@Model.UniqueuId</td>   
         <td>@Model.NGOName</td>
        <td>@Model.NGOEmailID</td>
        <td>@Model.Mobile</td>
        <td>@Model.NGOAddress</td>
        <td>@Model.ChairmanName</td>
        <td>@Model.ParentOrganisation</td>
        <td>@Model.RegisteredWith</td>
         <td>@Model.RegistrationNumber</td>
         <td>@Model.FCRANumber</td>

       </tbody>
</table>

     <br/>
     <br/>
     <br/>
     <br/>
      
        <a href="/NGOProfile/AboutUs/Edit/" class="editbutton btn btn-info pull-right">
          <span class="glyphicon glyphicon-pencil"> Edit</span>
        </a>
        
     </div>