@model CommonWeal.Data.NGOUser

@{
    ViewBag.Title = "AboutUs";
}

<style>
  table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

    tr:nth-child(even) {
        background-color: #00ff21;
    }

th {
    background-color: gray;
    color: white;
}
</style>
<br/>
<table style="background-color:lightgray;">
<thead>
    <tr>
    <th>UniqueuID</th>
     <th>Name</th>
     <th>EmailID</th>
     <th>Mobile</th>
     <th>Address</th>
     <th>Chairman Name</th>
     <th>Parent Organisation</th>
     <th>Registered With</th>
    <th>Registration Number</th>
    <th>FCRA Number</th>
        </tr>

</thead>
    <tbody>   
        <td>@Model.UniqueuId</td>   
         <td>@Model.NGOName</td>
        <td>@Model.NGOEmailID</td>
        <td>@Model.Mobile</td>
        <td>@Model.NGOAddress</td>
        <td>@Model.ChairmanName</td>
        <td>@Model.ParentOrganisation</td>
        <td>@Model.RegisteredWith</td>
         <td>@Model.RegistrationNumber</td>
         <td>@Model.FCRANumber</td>

       </tbody>
</table>
