@model CommonWeal.Data.NGOUser
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<script>
    $(document).ready(function () {
        $("input").prop('disabled', true);
        $("#submitbtn").prop('disabled', true);


        $("#editbtn").click(function () {
            $("input").prop('disabled', false);
            $("#submitbtn").prop('disabled', false);
        });
    }
    );
</script>
<div class="main-panel">
    <div class="row">
        <div class="col-md-8">

            <div class="col-lg-offset-3">
                <h3><strong>Your Personal Info</strong></h3>
            </div>
            <div class="container">

                <form class="form-horizontal" action="/NGOProfile/Edit" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">NGO Email:</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" name="NGOEmailID"  placeholder="Enter Email" value="@Model.NGOEmailID" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Mobile:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="Mobile" placeholder="Enter Mobile Number" value="@Model.Mobile"required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Address:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="NGOAddress" placeholder="Enter Adderess" value="@Model.NGOAddress"required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="NGOName" placeholder="Enter Name" value="@Model.NGOName"required>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Chairman Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="ChairmanName" placeholder="Enter Chairman Name" value="@Model.ChairmanName"required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Password:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="NGOPassword" placeholder="Enter Password" value="@Model.NGOPassword"required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span id="editbtn" class="btn btn-primary">Edit</span>
                        </div>
                        &nbsp
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" id="submitbtn" class="btn btn-primary">Update</button>
          </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="editpanel panel panel-default">

                <div class="card card-user">
                    <div class="image">
                        <img src="~/Images/bckg.jpg" alt="...">
                    </div>
                    <div class="content">
                        <div class="author">
                            @*<a href="#">*@
                            <img class="avatar border-gray" src="~/Images/sammanlogo.PNG" alt="...">
                            <h4 class="title">AboutUs<br>
                            </h4>
                            @*</a>*@
                        </div>
                        <p class="description text-center">
                           Samman,established in 2005 with a notion of 
                            serving people all over the country.
                            we are there 24*7 with our 100+ volunteers.
                        </p>
                        
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
