@model CommonWeal.NGOWeb.ViewModel.NGOProfilePostCustom
 <script>
    //$(document).ready(function () {
    $(document).ready(function () {

        $("#country").change(function () {
            $("#State").empty();
            console.log("Hit");
            $.ajax({
                type: 'POST',
                @* url: '@Url.Action("getstate")',*@
                url: '@Url.Action("GetJsonState", "Home")',
                dataType: 'json',

                data: { id: $("#country").val() },


                success: function (states) {
                    console.log(states);

                    $.each(states, function (i, state) {
                        console.log(state.Value);
                        $("#State").append('<option value="' + state.ID + '">' +
                             state.Name + '</option>');

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve country states.' + ex);
                }
            });
            return false;
        });

        $("#State").change(function () {
            $("#city").empty();
            console.log("Hit");
            $.ajax({
                type: 'POST',
                @* url: '@Url.Action("getstate")',*@
                url: '@Url.Action("GetJsonCity", "Home")',
                dataType: 'json',

                data: { id: $("#State").val() },


                success: function (cities) {
                    console.log(cities);

                    $.each(cities, function (i, city) {
                        console.log(cities.Value);
                        $("#city").append('<option value="' + city.ID + '">' +
                             city.Name + '</option>');

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve country cities.' + ex);
                }
            });
            return false;
        });
    });



    //});
    @*  function GetState() {
        console.log("Hit");
        $.ajax({
            url: "@Url.Action("GetJsonState", "Home")",
            dataType: "json",
            type: "GET",
            data: { country: $("#country").val() },
            error: function () {
            },
            beforeSend: function () {
            },
            success: function (data) {
                var items = "";
                items = "<option value=''>Choose state</option>";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });
                $("#DropDownListstate").html(items);
            }
        });

    }*@

</script>


@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
}


<div class="container-fluid">
    <div class="col-md-2">
        @Html.Partial("../UserHome/_SearchNGOPartial", Model.PostWithtopNgoModel.ngouser)
    </div>

    <div class="col-md-8">
        <div class="container">
            <div class="row">

                <div class="panel panel-default  panelNGO ">
                    <div class="profileheadingcolor">
                        <div class="panel-heading">
                            <center> <b class="profilesummary"> Profile Summary for </b></center>
                        </div>
                    </div>

                    <div class="panel-body" id="ngoprofilepanelbody">
                        <form method="post" action="~/NGOProfile/PostImage" enctype="multipart/form-data" id="postform">
                            <div class="col-md-12">
                                <center>
                                    @{
                                        var src = "";
                                        if (Model.imageurl == null)
                                        { src = "~/Images/usergroupnew.png"; }
                                        else
                                        {
                                            src = Model.imageurl;
                                        }
                                        <img class="profileimage" id="profileimage1" src="@src"/>
                                    }
                                </center>
                            </div>
                        </form>
                    </div>

                    <div class="panel-footer panel-group navbar-fixed profileheadingcolor">
                        <ul class="ultext nav">
                            <li id="profilepost"><span id="NGOProfilepost-@Model.CurrentUserID" class="NGOProfilepost">Post</span></li>
                            <li><span id="aboutus-@Model.CurrentUserID" class="aboutus">About Us</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div id="NGOProfilecontent">
            @Html.Partial("../NGOProfile/_NGOProfilePost", Model)
        </div>
    </div>
</div>

