@model CommonWeal.NGOWeb.ViewModel.Post


<div class="form-inline likecommentsign col-md-12 ">
    @if (!User.Identity.IsAuthenticated)
    { 
        <span class=" likecommentcolor likecommenticon ">
            <img src="~/Images/newlike1.png" /></span>                   
        <span id="" class="likecommentcolor likecommenticon ">
            <img src="~/Images/commentnew.png" /></span>
    }

    @{    int userLoginId = -1, count = 0, preTotalcount = 0;
          string currentLikeUserColor = "darkgray";
          if (User.Identity.IsAuthenticated)
          {

              // CommonWeal.Data.CommonWealEntities context = new CommonWeal.Data.CommonWealEntities();

              userLoginId = Convert.ToInt32(User.Identity.Name);

              if (Model.postlike.Count() > 0)
              {
                  var likeuser = Model.postlike.Where(pstlike => pstlike.UserID == userLoginId).FirstOrDefault();

                  if (likeuser != null)
                  {
                      if (likeuser.UserID == userLoginId)
                      {
                          currentLikeUserColor = "#4073bf";
                      }
                  }

              }  
        <span class="LikeIcon ahover likecommenticon cursor userid-@userLoginId" id="LikeIcon-@Model.postId"  onmouseover='this.style.color="#4073bf"'onmouseout='this.style.color="@currentLikeUserColor"'  style="color:@currentLikeUserColor">
            <img src="~/Images/newlike1.png" /></span>
        <span id="commentIcon-@Model.postId" class="  ahover likecommentcolor commentIcon likecommenticon cursor">
            <img src="~/Images/commentnew.png" /></span>   
              if (Model.postlike.Count() > 0)
              {
                  var likeuser = Model.postlike.Where(pstlike => pstlike.UserID == userLoginId).FirstOrDefault();
                  if (likeuser != null)
                  {
                      preTotalcount = Model.postlike.Count();
                      if (likeuser.UserID == userLoginId)
                      {<span class="commentlikeuserfont">You</span>
                          if (preTotalcount == 1)
                          { <span class="commentlikeuserfont">like this</span>}
                          else if (preTotalcount > 2)
                          {<span>,</span>}
                          Model.postlike.Remove(likeuser);
                      }
                  }

              }

              int totalcount = Model.postlike.Count;
              var likelist = Model.postlike.Take(2);
              if (totalcount == 1)
              {
                  if (preTotalcount == 2)
                  { <span class="commentlikeuserfont">and</span>}
                                
        <span class="commentlikeuserfont text-primary">@Model.postlike[0].userName </span><span class="commentlikeuserfont">like this</span>  
              }
              else if (totalcount == 2)
              {
        <span class="commentlikeuserfont text-primary">@Model.postlike[0].userName </span><span class="commentlikeuserfont">and</span>   
        <span class="commentlikeuserfont text-primary">@Model.postlike[1].userName  </span><span class="commentlikeuserfont">like this</span>   
              }
              else if (totalcount >= 3)
              {        <span class="commentlikeuserfont text-primary">@Model.postlike[0].userName</span><span>,</span>   
        <span class="commentlikeuserfont text-primary">@Model.postlike[1].userName  </span><span class="commentlikeuserfont">and</span>
        <div class="dropdown">
            <span  class="showLikeuser commentlikeuserfont text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#myModal-@Model.postId"  id="showLikeuser-@Model.postId">@(totalcount - 2) other</span> <span class="commentlikeuserfont">like this</span>


            <div class="dropdown-content" style=""id="catlist-@Model.postId">
            </div>
        </div>  
              }
          }
    }

    @if (this.User.IsInRole("NGOAdmin") && (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().Equals("NGOProfile") || Model.controllername.Equals("NGOProfile")))
    {
                
               
        <span class="posttag col-md-5 float-right">


            <span id="" class="deletecomment" title="Delete post"><a class="fa fa-trash-o" href="/Post/deletePost/@Model.postId"></a></span>


        </span>
    }
</div>

