@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>



<div id="uploadpost" class="col-md-10 col-md-offset-1">

    @foreach (var item in Model)
    { <div class="postcontainer">
        <div id="posttemplate">
            <div class="postuserdetail form-inline col-md-12 " id="postuserdetail">
                <span id="user-image" class="col-md-1 fa fa-users"></span>
                <span class="usernamepost col-md-3" id="usernamepost">@item.userName</span>
                <span class="posttime col-md-3">@item.postCreateTime</span>
                <span class="posttag col-md-5 float-right">#@item.categoryName</span>
            </div>
            @*  Text for image*@
            <div name="Textmessage" id="Textmessage">
                <div class="form-inline" id="postcontent">
                    <span>@item.postcontent</span>
                </div>
            </div>
            @*  <div class="form-group">*@
            <div id="image/video" class="imagepost">
                @if (item.postImageUrl != null)
                {    
                    <img src="@item.postImageUrl" data-toggle="modal" data-target="#myModal2-@item.postId" class="imageurlpost" id="imageurlpost-@item.postId" />
                }
                <div class="form-inline likecommentsign col-md-12 ">
                    @if (!User.Identity.IsAuthenticated)
                    { 
                        <span class=" likecommentcolor likecommenticon ">
                            <img src="~/Images/newlike1.png" /></span>                   
                        <span id="" class="likecommentcolor likecommenticon ">
                            <img src="~/Images/commentnew.png" /></span>
                    }

                    @{    int userLoginId = -1, count = 0, preTotalcount = 0;
                          string currentLikeUserColor = "darkgray";
                          if (User.Identity.IsAuthenticated)
                          {

                              CommonWeal.Data.CommonWealEntities context = new CommonWeal.Data.CommonWealEntities();
                              userLoginId = Convert.ToInt32(User.Identity.Name);
                              var likeuser = item.postlike.Where(pstlike => pstlike.UserID == userLoginId).FirstOrDefault();

                              if (likeuser != null)
                              {
                                  if (likeuser.UserID == userLoginId)
                                  {
                                      currentLikeUserColor = "#4073bf";
                                  }
                              }
                        <span class="  LikeIcon ahover likecommenticon"  id="LikeIcon-@item.postId"  onmouseover='this.style.color="#4073bf"'onmouseout='this.style.color="@currentLikeUserColor"'  style="color:@currentLikeUserColor">
                            <img src="~/Images/newlike1.png" /></span>
                        <span id="commentIcon-@item.postId" class="  ahover likecommentcolor commentIcon likecommenticon   ">
                            <img src="~/Images/commentnew.png" /></span>   
                              if (likeuser != null)
                              {
                                  preTotalcount = item.postlike.Count;
                                  if (likeuser.UserID == userLoginId)
                                  {<span class="commentlikeuserfont">You</span>
                                      if (preTotalcount == 1)
                                      { <span class="commentlikeuserfont">like this</span>}
                                      else if (preTotalcount > 2)
                                      {<span>,</span>}
                                      item.postlike.Remove(likeuser);
                                  }
                              }

                              int totalcount = item.postlike.Count;
                              var likelist = item.postlike.Take(2);
                              if (totalcount == 1)
                              {
                                  if (preTotalcount == 2)
                                  { <span class="commentlikeuserfont">and</span>}
                                
                        <span class="commentlikeuserfont text-primary">@item.postlike[0].userName </span><span class="commentlikeuserfont">this</span>  
                              }
                              else if (totalcount == 2)
                              {
                        <span class="commentlikeuserfont text-primary">@item.postlike[0].userName </span><span class="commentlikeuserfont">and</span>   
                        <span class="commentlikeuserfont text-primary">@item.postlike[1].userName  </span><span class="commentlikeuserfont">like this</span>   
                              }
                              else if (totalcount >= 3)
                              {        <span class="commentlikeuserfont text-primary"> @item.postlike[0].userName</span><span>,</span>   
                        <span class="commentlikeuserfont text-primary">@item.postlike[1].userName  </span><span class="commentlikeuserfont">and</span>
                        <span  class="showLikeuser commentlikeuserfont text-primary" style="cursor: pointer;" data-toggle="modal" data-target="#myModal-@item.postId"  id="showLikeuser-@item.postId">@(totalcount - 2) other</span> <span class="commentlikeuserfont">like this</span>
                                 
                              }
                          }
                    }
                </div>
            </div>

            <!--Like Modal Start -->
            <div class="modal fade" id="myModal-@item.postId" tabindex="-1" style="overflow-y:auto;"  role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog likemodaldialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><b>Likes</b></h4>
                        </div>
                        <div class="modal-body" id="likelist-@item.postId">
                        </div>
                    </div>
                </div>
            </div>
            <!--Like Modal End -->

            @*///Comment div action*@

        </div>
        <div class="form-inline" id="postcommentbox">
            @foreach (var comment in item.PostComments)
            {
                <div class="form-group col-md-12">
                    <div class="form-inline col-md-12 " id="comentpost">
                        <span class="col-md-1 fa fa-user commentimage "></span>

                        <span class="commentusername col-md-3 "><b>@comment.Username </b></span>
                        <span class="commentdate">@comment.CreatedDateTime</span>
                        <p id="postcommentcontent">@comment.commentContent</p>

                    </div>
                </div>
                <br />
                
                
            }
            <div id="@item.postId">
            </div>



            @*///user Comment section*@

            @if (User.Identity.IsAuthenticated)
            {
    
                <div class="form-group col-md-12 ">
                    <span class="float-left profileimagecomment fa fa-user col-md-1"></span>
                    <textarea class=" textComment col-md-8"  id="txtComment-@item.postId" name="TextComment" placeholder="Write Your comment" rows="1"></textarea>
                    @* @Html.TextArea("TextComment", new { id = "txtComment-" + item.postId, @class = " textComment col-md-8 ", placeholder = "Write Your comment" })*@
                    <input type="button" id="postimage-@item.postId" name="button" class=" btnPost btn-primary  col-md-1   " value="Post" />
                </div>
            }
        </div>
        <br/>
      

        <div class="modal fade" id="myModal2-@item.postId" tabindex="-1" style="overflow-y:auto;"  role="dialog" aria-labelledby="myModalLabel">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
            <div class="modal-dialog likemodaldialog" role="document">
                <img class="modal-content fullImage" id="img01-@item.postId"/>
            </div>
        </div>
    </div>          
    }



</div>
