@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>
      <div style="height: 50px; width: 800px; margin-left: 80px;">

        @*//new upload post*@
        <div id="newuploadpost">
        </div>

        @*//end upload post*@
       @* @Html.Partial("../UserHome/_posts", Model);*@
        <div style="height: 50px; width: 800px; margin-left: 80px;">

    @*//new upload post*@
    <div id="newuploadpost">
    </div>

    @*//end upload post*@
    <div>
        @foreach (var item in Model)
        { 
                
            <div style="background-color: lightgray;" id="postuserdetail">
                <div class="form-inline">
                    <img src="~/Images/orderedList3.png" />
                    <a href="#">@item.userName</a>
                    <a href="#">@item.postCreateTime</a>
                </div>
            </div>
@*  Text for image*@
            <div name="Textmessage">
                <div class="form-inline" style="height: 50px;">
                    <p>@item.postcontent</p>
                </div>
            </div>
@*  <div class="form-group">*@
            <div id="image/video">
                @if (item.postImageUrl != null)
                {
                        
                    <img src="@item.postImageUrl" style="height: 500px; width: 800px;" />
                    
                    
                }
                



@* ///edited on 24/10/16*@

                <div style="background-color: lightgray">
                    <div class="form-inline" style="height: 30px;">
                        <a href="#">Like</a>
                        <a href="#">Comment</a>
                    </div>


                </div>
                <br />
                @*///Comment div action*@

                <div class="form-inline" style="background-color: lightgray">

                    <div class="form-group">
                        <div class="form-inline" style="border-bottom: ridge; width: 600px;">
                            <img src="~/Images/orderedList3.png"></img>
                            <a href="#"><span style="font-size: 16px;"><b>Ayushi Jain</b></span></a>
                            <a href="#">@DateTime.Now.ToString()</a><br />
                            <p style="margin-left: 55px;">wow!!!! penguins looks awesome</p>
                            <div class="form-inline" style="height: 30px; margin-left: 10px;">
                                <a href="#">Like</a>
                                <a href="#">Reply</a>
                            </div>
                        </div>
                    </div>



                    <div id="@item.postId">
                        <br />
                    </div>

                    @*///user Comment section*@

                    @if (User.Identity.IsAuthenticated)
                    {
    
                        <div class="form-inline">
                            <img src="~/Images/orderedList3.png"></img>

                            @Html.TextArea("TextComment", new { id = "txtComment-" + item.postId, @class = "form-control", @style = " width: 480px; height:35px;", placeholder = "Write Your comment" })
                            <input type="button" id="postimage-@item.postId" name="button" class="btn1 btn-primary btnPost" value="post" />
                        </div>
                    }

                </div>
            </div> <br />
            <br />
            <br /> <br />
            <br />
        }
    </div>
</div>


    </div>
