@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>
<br />

<div style="height: 50px; width: 800px; margin-left: 80px;">

    @*//new upload post*@
    <div id="newuploadpost">
    </div>

    @*//end upload post*@
    @* @Html.Partial("../UserHome/_posts", Model);*@
    <div style="height: 50px; width: 800px; margin-left: 80px;">

        @*//new upload post*@
        <div id="newuploadpost">
        </div>

        @*//end upload post*@
        <div>
            @foreach (var item in Model)
            { 
                
                <div style="background-color: lightgray;" id="postuserdetail">
                    <div class="form-inline">
                        <img src="~/Images/user.png" style="height: 30px; width: 30px" />
                        <b>@item.userName</b>
                        @item.postCreateTime
                    </div>
                </div>
@*  Text for image*@
                <div name="Textmessage">
                    <div class="form-inline" style="height: auto;">
                        <span>@item.postcontent</span>
                    </div>
                </div>
@*  <div class="form-group">*@
                <div id="image/video">
                    @if (item.postImageUrl != null)
                    {    
                        <img src="@item.postImageUrl" style="height: 500px; width: 800px;" />
                    }
@* ///edited on 24/10/16*@

                    <div style="background-color: lightgray;border-bottom: ridge; width: 800px;">
                        <div class="form-inline" style="height: 30px;">
                              <span class="fa fa-thumbs-up fa-2x" style="width:35px;"></span>
                            <span id="commentIcon-@item.postId" class="fa fa-comment commentIcon fa-2x"></span>
                        </div>


                    </div>
                    @*///Comment div action*@
                    <div class="form-inline" style="background-color: lightgray">
                        @foreach (var comment in item.PostComments)
                        {
                            <div class="form-group">
                                <div class="form-inline" style="border-bottom: ridge; width: 800px;">
                                    <img src="~/Images/user.jpg" style="height: 30px; width: 25px" />
                                    <span style="font-size: 16px;"><b>@comment.Username </b></span>
                                    @comment.CreatedDateTime
                                    <p style="margin-left: 55px;">@comment.commentContent</p>
                                    @*<div class="form-inline" style="height: 30px; margin-left: 10px;">
                                        <a href="#">Like</a>
                                        <a href="#">Reply</a>
                                    </div>*@
                                </div>
                            </div>

                        }

                        <div id="@item.postId">
                            <br />
                        </div>

                        @*///user Comment section*@

                        @if (User.Identity.IsAuthenticated)
                        {
    
                            <div class="form-inline">
                                <img src="~/Images/orderedList3.png" />

                                @Html.TextArea("TextComment", new { id = "txtComment-" + item.postId, @class = "form-control textComment", @style = " width: 480px; height:35px;", placeholder = "Write Your comment" })
                                <input type="button" id="postimage-@item.postId" name="button" class="btn1 btn-primary btnPost" value="Post" />
                            </div>
                        }

                    </div>
                </div> <br />
                <br />
                
            }
        </div>
    </div>
