@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>



<div id="uploadpost" class="col-md-10 col-md-offset-1">

    @*//new upload post*@
    @*<div id="newuploadpost">
        </div>*@

    @*//end upload post*@

    @foreach (var item in Model)
    { 
         <div id="posttemplate">       
        <div id="postuserdetail">
            <div class="form-inline">
                <img src="~/Images/user.png" id="images" />
                <b id="usernamepost">@item.userName</b>
                @item.postCreateTime
            </div>
        </div>
@*  Text for image*@
        <div name="Textmessage" id="Textmessage">
            <div class="form-inline">
                <span>@item.postcontent</span>
            </div>
        </div>
@*  <div class="form-group">*@
        <div id="image/video" class="col-md-12 imagepost">
            @if (item.postImageUrl != null)
            {    
                <img src="@item.postImageUrl" id="imageurlpost" class="col-md-offset-1 " />
            }
                    
@* ///edited on 24/10/16*@

           
                <div class="form-inline likecommentsign">
                    <span class="fa fa-thumbs-up fa-2x"></span>
                    <span id="commentIcon-@item.postId" class="fa fa-comment commentIcon fa-2x"></span>
                </div>


         
            @*///Comment div action*@

        </div> 
        <div class="form-inline " id="postcommentbox">
            @foreach (var comment in item.PostComments)
            {
                <div class="form-group col-md-12 " >
                    <div class="form-inline " id="comentpost">
                        <img src="~/Images/user.jpg" id="profileimagecomment" />
                        <span id="commentusername "><b>@comment.Username </b></span>
                        @comment.CreatedDateTime
                        <p id="postcommentcontent">@comment.commentContent</p>
                        @*<div class="form-inline" style="height: 30px; margin-left: 10px;">
                                        <a href="#">Like</a>
                                        <a href="#">Reply</a>
                                    </div>*@
                    </div>
                </div>
                <br />

            }

            <div id="@item.postId">
                <br />
            </div>

            @*///user Comment section*@

            @if (User.Identity.IsAuthenticated)
            {
    
                <div class="form-inline">
                    <img src="~/Images/orderedList3.png" />

                    @Html.TextArea("TextComment", new { id = "txtComment-" + item.postId, @class = "form-control textComment", placeholder = "Write Your comment" })
                    <input type="button" id="postimage-@item.postId" name="button" class="btn1 btn-primary btnPost" value="Post" />
                </div>
            }

        </div>
        </div>
        <br />
        <br />
                
    }
</div>

