@model IEnumerable<CommonWeal.NGOWeb.ViewModel.Post>
<link href="~/Content/dyanamiclist.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 
@*<script src="~/Scripts/jquery3.1.1-jquery.min.js"></script>*@
<script>
$.noConflict();
// Code that uses other library's $ can follow here.
</script>
<p id="controllername" hidden>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()</p>

@if(Model!=null && Model.Count()>0)
{
<div id="uploadpost" class="row col-sm-10 col-sm-push-1">

    @foreach (var item in Model)
    { <div class="postcontainer" id="Post-@item.postId">
        <div id="posttemplate">
            <div class="postuserdetail form-inline col-md-12 " id="postuserdetail">
                <span id="user-image" class="col-md-1 fa fa-users"></span>
                @if(this.User.Identity.IsAuthenticated){
              <a href="/NGOProfile/Index/@item.userId"> <span class="usernamepost col-md-3 cursor" id="usernamepost"><b>@item.userName</b></span></a>
                }
                else{
                    <span class="usernamepost col-md-3" ><b>@item.userName</b></span>
                }
                     <span class="posttime col-md-3">@item.postCreateTime.ToString("MM/dd/yyyy HH:mm")</span>
              
                <span class="posttag col-md-5 float-right" >
                   @*method for multi #*@
                
                      
                          @if (item.postCategoryNameList.Count() > 0)
                          {
                              if (item.postCategoryNameList.Count()==1)
                              {<span class="text-primary">#@item.postCategoryNameList[0]</span>}
                              else 
                              {<span class="text-primary">#@item.postCategoryNameList[0] </span><span>and</span>
                              <span class="dropdown">
<span class="showcategory text-primary "id="showcategory-@item.postId"style="cursor:pointer;text-decoration:underline">@(item.postCategoryNameList.Count()-1) Other</span>
                               <span class="dropdown-content" id="categorylist-@item.postId">
       @{
                var Count = 1;
                foreach (var res in item.postCategoryNameList)
                {
                    <span class="">#@res</span>                       
          
                     
                    if (item.postCategoryNameList.Count() != Count)
                    { <span><br/></span>}
                    Count++;                                                        
                }
                    }
                            </span>
                        </span>  
               
                                   if(item.postCategoryNameList.Count()==2)
                                {<span> Category</span>}
                                else
                                {<span> Categories</span>}
                              }
                          
                          }
                    </span>
                     

            </div>

            @*model for categorylist start*@
            @*<div class="modal fade" id="myModalCategory-@item.postId" tabindex="-1" style="overflow-y:auto;"  role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog likemodaldialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalCategoryLabel"><b>Likes</b></h4>
                        </div>
                        <div class="modal-body"  id="categoryList-@item.postId">
                        </div>
                    </div>
                </div>
            </div>
            *@@*model for categorylist end*@

            @*  Text for image*@
            <div name="Textmessage" id="Textmessage">
                <div class="form-inline" id="postcontent">
                    <span>@item.postcontent</span>
                </div>
            </div>
            @*  <div class="form-group">*@
            <div id="image/video" class="imagepost">
                @if (item.postImageUrl != null)
                {    
                    <img src="@item.postImageUrl" data-toggle="modal" data-target="#myModal2-@item.postId" class="imageurlpost" id="imageurlpost-@item.postId" />
                }
                <br/>
                <div id="liketemplate-@item.postId">   
                @Html.Partial("../UserHome/_LikePartial", item)

                    </div>
                 
             @* @Html.Partial("../Views/UserHome/_LikePartial",Model) *@
            </div>

            <!--Like Modal Start -->
            <div class="modal fade" id="myModal-@item.postId" tabindex="-1" style="overflow-y:auto;"  role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog likemodaldialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><b>Likes</b></h4>
                        </div>
                        <div class="modal-body" id="likelist-@item.postId">
                        </div>
                    </div>
                </div>
            </div>
            <!--Like Modal End -->

            @*///Comment div action*@

        </div>
        <div class="form-inline" id="postcommentbox">
           @* @if(item.PostComments.Count()>0)
            {
               foreach (var comment in item.PostComments.Take(2))
            {
                
            <div class="form-group col-md-12">
                    <div class="form-inline col-md-12 comentpost">
                        <span class="col-md-1 fa fa-user commentimage"></span>

                        <span class="commentusername col-md-3 "><b>@comment.Username </b></span>
                        <span class="commentdate">@comment.CreatedDateTime.ToString("MM/dd/yyyy HH:mm")</span>
                        @if (this.User.IsInRole("NGOAdmin") && (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().Equals("NGOProfile") || HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().Equals("post")))
                        {
     <span class="posttag col-md-5 float-right">
             <span class="dropdown">
<span class="showcategory text-primary "id=""style="cursor:pointer"><b>...</b></span>
                               <span class="dropdown-content" style=""id="">
                            <span id="reportAbuse-@comment.commentId" class="reportAbuse" style="cursor:pointer; text-decoration:underline;">Report abuse</span><br/>
                                     
           
                               </span>
           </span>
         </span>
                        }
                        <p id="postcommentcontent-@comment.commentId"class="postcommentcontent">@comment.commentContent</p>

                    </div>
                </div>
                <br />
           
                
                
            }
            }*@
             
         @*   @if(item.PostComments.Count()>2)
            {  <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2-@item.postId">Collapsible Group 2</a>
        </h4>
      </div>
      <div id="collapse2-@item.postId" class="panel-collapse collapse">
        <div class="panel-body">*@
   
            
             <span id="IeThisCurrentNgoProfile"hidden> @(this.User.IsInRole("NGOAdmin") && (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().Equals("NGOProfile") || Model.Take(1).FirstOrDefault().controllername.Equals("NGOProfile"))&&this.User.Identity.Name.Equals(item.userId.ToString()))</span>
            @foreach (var comment in item.PostComments)
            {
                <div class="col-md-12" id="CommentBox-@comment.commentId">
                      <div class="form-inline col-md-12 comentpost">
                      @if (this.User.IsInRole("NGOAdmin") && (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().Equals("NGOProfile") || Model.Take(1).FirstOrDefault().controllername.Equals("NGOProfile"))&&this.User.Identity.Name.Equals(item.userId.ToString()))
                        {
                                  <span id="reportAbuse-@comment.commentId" class="reportAbuse fa fa-exclamation-circle float-left " title="Report Abuse"></span>
                        }
                  
                      
                        <span class="col-md-1 fa fa-user commentimage"></span>
                      
                        <span class="commentusername col-md-3 " id="commentusername-@comment.commentId"><b>@comment.Username </b></span>
                        <span class="commentdate">@comment.CreatedDateTime.ToString("MM/dd/yyyy HH:mm") </span>
                      
                       @if (this.User.IsInRole("NGOAdmin") && (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().Equals("NGOProfile") || Model.Take(1).FirstOrDefault().controllername.Equals("NGOProfile"))&&this.User.Identity.Name.Equals(item.userId.ToString()))
                        {
                  
                            <span id="deleteComment-@comment.commentId" class="deleteComment float-right fa fa-remove" title="Delete Comment"></span>
                        }
                        <p id="postcommentcontent-@comment.commentId"class="postcommentcontent">@comment.commentContent</p>

                    </div>
                     
                </div>
              
           
                
                
            }
      @*      </div>
      </div>
    </div>
    
          
          }  *@
            <div id="@item.postId">
            </div>



            @*///user Comment section*@

            @if (User.Identity.IsAuthenticated)
            {
    
                <div class="form-group col-md-12 commentmainbox">
                    <span class="float-left profileimagecomment fa fa-user col-md-1"></span>
                    <textarea class=" textComment col-md-8"  id="txtComment-@item.postId" name="TextComment" placeholder="Write Your comment" rows="1"></textarea>
                    @* @Html.TextArea("TextComment", new { id = "txtComment-" + item.postId, @class = " textComment col-md-8 ", placeholder = "Write Your comment" })*@
                    <input type="button" id="postimage-@item.postId" name="button" class=" btn-primary btnPost col-md-1   " value="Post" />
                </div>
            }
        </div>
        <br/>
      <br/>
      

        <div class="modal fade" id="myModal2-@item.postId" tabindex="-1" style="overflow-y:auto;"  role="dialog" aria-labelledby="myModalLabel">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
            <div class="modal-dialog likemodaldialog" role="document">
                <img style="min-height:300px;min-width:300px;" class="modal-content fullImage" id="img01-@item.postId"/>
            </div>
        </div>
    </div>          
    }



</div>
}

    