@model CommonWeal.NGOWeb.ViewModel.PostWithTopNgo
@{
    ViewBag.Title = "All Rights Reserved";
} 
<script>
    //$(document).ready(function () {
    $(document).ready(function () {

        $("#country").change(function () {
            $("#State").empty();
            console.log("Hit");
            $.ajax({
                type: 'POST',
                @* url: '@Url.Action("getstate")',*@
                url: '@Url.Action("GetJsonState", "Home")',
                dataType: 'json',

                data: { id: $("#country").val() },


                success: function (states) {
                    console.log(states);

                    $.each(states, function (i, state) {
                        console.log(state.Value);
                        $("#State").val("");
                        $("#State").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve country states.' + ex);
                }
            });
            return false;
        });

        $("#State").change(function () {
            $("#city").empty();
            console.log("Hit");
            $.ajax({
                type: 'POST',
                @* url: '@Url.Action("getstate")',*@
                url: '@Url.Action("GetJsonCity", "Home")',
                dataType: 'json',

                data: { id: $("#State").val() },


                success: function (cities) {
                    console.log(cities);

                    $.each(cities, function (i, city) {
                        console.log(cities.Value);
                        $("#city").val("");
                        $("#city").append('<option value="' + city.Value + '">' +
                             city.Text + '</option>');

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve country cities.' + ex);
                }
            });
            return false;
        });
    });



    //});
    @*  function GetState() {
        console.log("Hit");
        $.ajax({
            url: "@Url.Action("GetJsonState", "Home")",
            dataType: "json",
            type: "GET",
            data: { country: $("#country").val() },
            error: function () {
            },
            beforeSend: function () {
            },
            success: function (data) {
                var items = "";
                items = "<option value=''>Choose state</option>";
                $.each(data, function (i, item) {
                    items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                });
                $("#DropDownListstate").html(items);
            }
        });

    }*@

</script>

<div class="container-fluid">
    <div class="row col-md-2 col-xs-2 col-sm-2 col-lg-2">
        @Html.Partial("../UserHome/_SearchNGOPartial", Model.ngouser)
    </div>
    <div class="col-md-8">
        <div class="container">
            <div class="row col-sm-10 col-sm-push-1  selectcategory">
                @Html.DropDownList("selectcategory", (SelectList)ViewBag.category, new { id = "selectcategory", @data_placeholder = "Search by Category", @class = "form-control chosen-with-icon ", @multiple = "multiple" })
            </div>
            <br />
            <div id="postsection">
                @Html.Partial("../UserHome/_Posts", Model.post)
            </div>
            <div id="loadMoreSection"></div>
            <div style="text-align: center" id="morePost">
                <input type="button" style="background: transparent; border: none; outline: none; color: #0f66f1; font-weight: 400; width: 200px;" value="See more posts" class="btnLoad" id="btnLoad" align="center">
                @*type="button"*@
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Post/PostComment.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("change", "#selectcategory", function () {
                var categoryList = $(this).val();
                //console.log(categoryList);
                if (categoryList == null || categoryList.length == 0) {
                    categoryList = ['1'];
                }
                // console.log('inside');
                var things = JSON.stringify({ 'category': categoryList });
                $.ajax({
                    contentType: 'application/json; charset=utf-8',

                    type: 'POST',
                    url: '/post/GetPostByCategory2',
                    data: things,
                    success: function (result) {
                        // console.log(result);
                        if (result != null) {
                            $("#postsection").html("");
                            $("#loadMoreSection").html("");
                            $("#loadMoreSection").append(result);
                        }
                        $.post("/post/getpostCount", function (result1) {
                            // alert(result1);
                            var total = result1 - 5;

                            if (total <= 0) {
                                //alert(result1 + "" + total)

                                if (result1 <= 5 && result1 > 0) {
                                    $(".btnLoad").val('No more post');
                                    $(".btnLoad").attr('disabled', true);
                                }
                                if (result1 <= 0) {
                                    $(".btnLoad").val('No post found');
                                    $(".btnLoad").attr('disabled', true);
                                }
                            }
                            else {
                                $(".btnLoad").prop("disabled", false);
                                $(".btnLoad").val("See more posts");
                                //  alert("clickable");

                            }


                            // alert(result);
                        });
                    },
                    failure: function (response) {
                        $('#result').html(response);
                    }
                });


            });

            $("#selectcategory").chosen();
            $('#selectcategory').change(function () {
                if ($(this).val() != null && $(this).val().length > 0) {
                    $.each($(this).val(), function (key, value) {
                        if (value == 1) {
                            $('#selectcategory').val('').trigger('chosen:updated');
                            $('#selectcategory').val('1').trigger('chosen:updated');
                        }

                    });
                }
                else { $('#selectcategory').val('').trigger('chosen:updated'); }
                //console.log($('#selectcategory').val().length);
            });



        });

</script>
}
