@model CommonWeal.NGOWeb.Models.Password

@{
    ViewBag.Title = "All Rights Reserved";
}
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@Html.Raw(TempData["PasswordChange"])

@using (Html.BeginForm("UpdatePassword", "Password", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2">
            <div class="confirm-password panel panel-default">
                <div class="panel-heading">
                    <h3>Change Password</h3>
                </div>

                @Html.Hidden("FinalEmail", Session["FinalEmail"])
                @Html.ViewBag.code
                @Html.Hidden("OTP", Session["OTP"])
                @*  @FinalOTP.ToString*@

                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group pass-fields">
                           @* @Html.LabelFor(model => model.NewPassword)*@
                            <label class="control-label col-xs-4" for="fn">New Password:</label>
                            <div class="col-xs-8">
                                @Html.PasswordFor(model => model.NewPassword, new { placeholder = "Password" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>

                        <div class="form-group pass-fields">
                         @*   @Html.LabelFor(model => model.ConfirmPassword)*@
                            <label class="control-label col-xs-4" for="fn">Confirm Password:</label>
                            <div class="col-xs-8">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>

                        <div class="form-group">
                            <center><button type="submit" class="btn btn-primary" onclick="">Submit</button></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}







@*<fieldset>
    <legend>Password</legend>
    @Html.Hidden("FinalEmail", Session["FinalEmail"])*@
@* @Html.ViewBag.code*@
@*  @Html.Hidden("OTP", Session["OTP"])*@
@* @FinalOTP.ToString*@
@*  <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.NewPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.NewPassword, new { placeholder = "Password" })
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
    <br />
    <div class="editor-label">
        @Html.LabelFor(model => model.ConfirmPassword)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm Password" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>

    <p>
        <input type="submit" value="Submit" />
    </p>
</fieldset>
}*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
