@model CommonWeal.NGOWeb.Models.Password

@{
    ViewBag.Title = "Confirm OTP";
}

<h2>Confirm OTP</h2>
 <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
 </br>
@using (Html.BeginForm("ConfirmPassword", "Password", FormMethod.Post))
{
    @Html.ValidationSummary(true)
   
    <fieldset>
        <legend>Password</legend>
         @Html.Hidden("FinalEmail", Session["FinalEmail"])
       @* @Html.ViewBag.code *@
        @Html.Hidden("OTP", Session["OTP"])
        
      
        @Html.Editor("FinalOTP", new { placeholder = "Enter OTP"})
        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
