@model CommonWeal.NGOWeb.Models.Password

@{
    ViewBag.Title = "ConfirmPassword";
}
@Html.Raw(TempData["PasswordChange"])

@using (Html.BeginForm("UpdatePassword", "Password", FormMethod.Post))
{
    @Html.ValidationSummary(true)
<br />
    <fieldset>
        <legend>Password</legend>
         @Html.Hidden("FinalEmail", Session["FinalEmail"])
       @* @Html.ViewBag.code*@
        @Html.Hidden("OTP", Session["OTP"])
         @* @FinalOTP.ToString*@
        <br/>
        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.NewPassword, new { placeholder="Password" })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <br/>
        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder="Confirm Password" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
      
        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
