@model CommonWeal.NGOWeb.Models.Password

@{
    ViewBag.Title = "Forgot Password";
}
<br/>
<h2>Forgot Password</h2><br />
@Html.Raw(TempData["wrongOTP"])

@using (Html.BeginForm("ConfirmOTP", "Password", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Password</legend>

        <div class="editor-label">
           
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UserEmail, new { placeholder="Enter Email ID" })
           @*  @Html.TextBox("pqr", new { placeholder="New text box" })*@
            @Html.ValidationMessageFor(model => model.UserEmail)&nbsp;
        </div>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
}

@if (TempData["EmailID"] != null)
{
    <p>@TempData["EmailID"]</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
