@model CommonWeal.NGOWeb.Models.Password

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>
@Html.Raw(TempData["wrongOTP"])

@using (Html.BeginForm("ConfirmOTP", "Password", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Password</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserEmail)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UserEmail, new { placeholder="Email ID" })
           @*  @Html.TextBox("pqr", new { placeholder="New text box" })*@
            @Html.ValidationMessageFor(model => model.UserEmail)&nbsp;
        </div>

        <p>
            <input type="submit" value="Recover" />
        </p>
    </fieldset>
}

@if (TempData["EmailID"] != null)
{
    <p>@TempData["EmailID"]</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
