@model CommonWeal.NGOWeb.UserLogin

@{
    ViewBag.Title = "Login";
}


<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*    <script src="~/Bootstrap/js/bootstrap.js"></script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>*@
</head>
@Html.Raw(TempData["msg"])
<body>
    <div id="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Login</h3>
            </div>
            <div class="panel-body">
                <div id="Login">
                    <form name="UserLogin" class="form-horizontal" action="/Login/login" method="post">
                       
                        <br />
                        <br />
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="fn">Email:</label>
                            <div class="col-xs-4">
                                @Html.TextBoxFor(a => a.LoginEmailID, new { placeholder="Email ID" })<br/>
                                 @Html.ValidationMessageFor(a => a.LoginEmailID)
                                @*  <input type="text" class="form-control" id="email/mobno" placeholder="Email/Mobile Number" name="login_Email">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" for="ln">Password:</label>
                            <div class="col-xs-4">
                                @Html.PasswordFor(a => a.LoginPassword, new { placeholder="Password" })
                                 @Html.ValidationMessageFor(a => a.LoginPassword)
                                @*@Html.EditorFor(a => a.LoginPassword)*@ <br />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                         
                            <center><button type="submit" class="btn btn-primary" onclick="">Login</button></center><br />
                            <br />
                           @* <a id="forgatpassword" href="~Password">Forgot Password</a><br />*@
                            <a id="forgatpassword" href="/Password/ForgotPassword">Forgot Password</a><br/>
                          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>
