<!DOCTYPE html>
<html lang="en">
<head>
    <title>COMMONWEAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/Admin.css" rel="stylesheet" />
    <script src="~/Scripts/Admin_Script.js"></script>
      @Scripts.Render("~/bundles/modernizr")
</head>
    <style>
    table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
<body>
    <div class="container-fluid">
        <div class="header">
            <div class="row">
                <div class="col-md-12">
                    <div class="side-nav col-md-2">
                        <div class="navbar navbar-inverse navbar-fixed-left">
                            <h2>COMMONWEAL</h2>
                            <div class="profile">
                                <div class="profile_pic">
                                    <img src="~/Images/Image.jpg" alt="..." class="img-circle profile_img" height="70" width="70">
                                </div>
                                <div class="profile_info">
                                    <span>Welcome,</span>
                                    <h4>Admin</h4>
                                </div>
                            </div>

                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/Admin/Requests"><span class="glyphicon glyphicon-hand-up"></span>
                                    Requests</a></li>
                                <li class="dropdown user-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-home"></span>
                                        Home <span class="caret"></span></a>
                                    <ul class="dropdown-menu users-menu" role="menu">
                                        <li><a href="/Admin/Index">Admin Home</a></li>
                                        <li><a href="#">Users Home</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown user-dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span>
                                        Users <span class="caret"></span></a>
                                    <ul class="dropdown-menu users-menu" role="menu">
                                        <li><a href="/Admin/Active_Users">Active Users</a></li>
                                        <li><a href="/Admin/Blocked_Users">Blocked Users</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Admin/Settings"><span class="glyphicon glyphicon-cog"></span>
                                    Settings</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="top-nav col-md-10">
                        <div>
                            <a href="/Login/Login"><span class="glyphicon glyphicon-off log-out"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="container">
        @RenderBody()
    </div>
     @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

