

@*Added by Neha M.*@

@section scripts{
    <script src="~/Scripts/Admin/Admin%20Script.js"></script>
}

@*High charts*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

@*Donut chart*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>

<div class="row">
    <div class="top-panel col-md-12">
        <div class="top-row col-md-4">
            <a href="/Admin/Requests">
                <div class="media bg-primary request">
                    <div class="media-left side-request pull-left">
                        <i class="icon-admin fa fa-user-plus fa-spin-hover" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3>NGOs Request
                             <span class="pull-right"id="COR">@ViewBag.COR</span>
                        </h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="top-row col-md-4">
            <a href="/Admin/Active_Users">
                <div class="media bg-primary active-ngo">
                    <div class="media-left side-active-ngo pull-left">
                        <i class="icon-admin fa fa-rotate-right fa-spin-hover" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3>Active NGOs
                             <span class="pull-right"id="COAN">@ViewBag.COAN</span>
                        </h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="top-row col-md-4">
            <a href="/Admin/Blocked_Users">
                <div class="media bg-primary blocked-ngo">
                    <div class="media-left side-blocked-ngo pull-left">
                        <i class="icon-admin fa fa-ban fa-spin-hover" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3>Blocked NGOs
                            <span class="pull-right"id="COBN">@ViewBag.COBN</span>
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="bottom-panel col-md-12">
        <div class="top-row col-md-4">
            <a href="/Admin/All_Users">
                <div class="media bg-primary all-users">
                    <div class="media-left side-all-users pull-left">
                        <i class="icon-admin fa fa-users fa-spin-hover" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3>Active Users
                            <span class="pull-right"id="COAL">@ViewBag.COAL</span>
                        </h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="top-row col-md-4">
            <a href="/Admin/Warned_NGOs">
                <div class="media bg-primary warned-users">
                    <div class="media-left side-warned-users pull-left">
                        <i class="icon-admin fa fa-exclamation-triangle fa-spin-hover" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3>Warned NGOs
                        <span class="pull-right"id="COWU">@ViewBag.COWU</span>
                        </h3>
                    </div>
                </div>
            </a>
        </div>

        <div class="top-row col-md-4">
            <a href="/Admin/Blocked_NormalUsers">
                <div class="media bg-primary blocked-users">
                    <div class="media-left side-blocked-users pull-left">
                        <i class="icon-admin fa fa-ban fa-spin-hover" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3>Blocked Users
                            <span class="pull-right"id="COBU">@ViewBag.COBU</span>
                        </h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
    <div class="top-panel col-md-12">
        <div class="top-row col-md-4">
            <a href="/Admin/SpamUsers">
                <div class="media bg-primary request">
                    <div class="media-left side-request pull-left">
                        <i class="icon-admin fa fa-user-plus fa-spin-hover" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3>Spam Users
                             <span class="pull-right"id="COR">@ViewBag.COR</span>
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="donut-chart col-md-6">
        <center><h2>NGOs Update:</h2></center>
        <canvas id="myChart1" style="height: 50px;"></canvas>
    </div>
     <div class="donut-chart col-md-6">
        <center><h2>Users Update:</h2></center>
        <canvas id="myChart2" style="height: 50px;"></canvas>
    </div>
</div>

<div class="row">
    <div class="discrete-graph col-md-12">
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        <table style="visibility: hidden; display: none;" id="graph-datatable">
            <thead>
                <tr>
                    <th></th>
                    <th>NGOs</th>
                    <th>Users</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Jan</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Feb</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Mar</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Apr</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>May</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Jun</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Jul</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Aug</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Sep</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Oct</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Nov</th>
                    <td>@ViewBag.COTN</td>
                    <td>@ViewBag.COTU</td>
                </tr>
                <tr>
                    <th>Dec</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@if (TempData["msg"] != null)
{
    @Html.Raw(TempData["msg"])
} 













@*<div class="row">
    <div class="col-md-12">
        <script>

            $(document).ready(function () {
                $('#getRequest').click();
            });
        </script>

        <script type="text/javascript" src="/assets/script/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="/assets/script/jquery.canvasjs.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.migrate/jquery-migrate-1.2.1.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.2/jquery.validate.unobtrusive.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>

        @using (Ajax.BeginForm("DisplayGraph", "Admin",
                null, //route values
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                },
                new { id = "SampleForm" }))
        {
           
           
            <button class="btn btn-primary" id="getRequest" type="submit">Graph</button>
        }*@



@* @using (Ajax.BeginForm("DisplayGraph", "Admin",
                null,
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }

                ))
        {     
            <button id="getRequest" class="fa fa-user-plus fa-5x,btn btn-primary btn-lg  btnMenu" type="submit" style="width: 167px;">&nbsp Requests</button>
    
        }*@

@*   <span id="lblResult"></span>*@

@* </div>
</div>
<span id="lblResult"></span>*@
@*<table class="col-md-12 col-md-offset-1" style="border:hidden">
    <tr>
        <td>

@using (Ajax.BeginForm("Requests", "Admin",
                null, 
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }
               
                ))     
                      
    {     
    <button id="getRequest" class="fa fa-user-plus fa-5x,btn btn-primary btn-lg  btnMenu" type="submit" style="width:167px;">&nbsp Requests</button>
    
    }
  </td>
<td>
 @using (Ajax.BeginForm("Active_Users", "Admin",
                null, 
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }
           ))
 {         
    
       <button class="fa fa-users fa-5x,btn btn-primary btn-lg "    type="submit" style="width:167px;" >&nbsp Active NGO</button>
 }
    </td>
        <td>

 @using (Ajax.BeginForm("Blocked_Users", "Admin",
                null,
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }


                ))
 {        
      <button class="fa fa-ban ,btn btn-primary btn-lg "  type="submit" style="width:164px;">&nbsp Blocked NGO </button>
 }

            </td>
        <td>

 @using (Ajax.BeginForm("All_Users", "Admin",
                null,
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }


                ))
 {        
     <a href="/Admin/All_Users"><button class="fa fa-ban ,btn btn-primary btn-lg " type="submit" style="width:164px;">&nbsp All Users</button></a>
 }

            </td>
         <td>

 @using (Ajax.BeginForm("Blocked_NormalUsers", "Admin",
                null,
                new AjaxOptions
                {
                    UpdateTargetId = "lblResult",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                }


                ))
 {        
      <a href="~/Views/Admin/Blocked_NormalUsers"><button class="fa fa-ban ,btn btn-primary btn-lg "  type="submit" style="width:164px;">&nbsp Blocked Users</button></a>
 }

            </td>
        </tr>
    </table>
    
    <span id="lblResult"></span>      

*@