@model CommonWeal.Data.NGOUser


<script>
    $(document).ready(function () {
        $("input").prop('disabled', true);

    });


</script>
<center><h2 id="NgoName">NGO Details</h2></center>
<br>
<br>
<br>
<div class="container">
 <div class="row">
     <div class="col-md-12">

                    <form class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label" for="email">NGO Name:</label>
                            </div>
                            <div class="col-md-3">

                                <input type="text" class="form-control" name="NGOName"  value="@Model.NGOName" required>
                            </div>
                       @* </div>
                        <div class="form-group row">*@
                            <div class="col-md-3">
                                <label class="control-label" for="email">Unique Id:</label>

                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="UniqueuId"  value="@Model.UniqueuId"required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label" for="email">Email:</label>

                            </div>
                            <div class="col-md-3">
                                <input type="email" class="form-control" name="NGOEmailID" value="@Model.NGOEmailID"required>
                            </div>
                        
                            <div class="col-md-3">
                                <label class="control-label" for="email">Mobile Number:</label>

                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="Mobile"  value="@Model.Mobile"required>
                            </div>
                        </div>


                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label" for="email">Address:</label>

                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="NGOAddress" value="@Model.NGOAddress"required>
                            </div>
                       
                            <div class="col-md-3">
                                <label class="control-label" for="email">Chairman Name:</label>

                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="ChairmanName" value="@Model.ChairmanName"required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label" for="email">Registration Proof:</label>

                            </div>
                            <div class="col-md-3">
                                @*<input type="text" class="form-control" name="RegistrationProof" value="@Model.RegistrationProof"required>*@
                            </div>
                       
                            <div class="col-md-3">
                                <label class="control-label" for="email">Photo Id Of Chairman:</label>

                            </div>
                            <div class="col-md-3">                                
                                @if (Model.ChairmanID != null)
                                { 
                             <img src="@Url.Content(Model.ChairmanID)" height="100px" width="100px"/>      
                                }                         
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label" for="email">Register with:</label>

                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="RegisteredWith"  value="@Model.RegisteredWith"required>
                            </div>
                      
                            <div class="col-md-3">
                                <label class="control-label" for="email">Registration No:</label>

                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="RegistrationNumber"  value="@Model.RegistrationNumber"required>
                            </div>
                        </div>

                         <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label" for="email">Date of Registration:</label>

                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="DateOfRegistration" value="@Model.DateOfRegistration"required>
                            </div>
                      
                            <div class="col-md-3">
                                <label class="control-label" for="email">Website URL:</label>

                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="WebsiteUrl" value="@Model.WebsiteUrl"required>
                            </div>
                        </div>


                        <br>
                        <br>
                        <br>
                       @* <div class="form-group col-md-6 col-md-push-5">
                          <div class="ngoviewdetails" id="details">
                                   <a href="/admin/Accept/@Model.LoginID"><span id="accept" class="btn btn-primary">Accept</span></a>&nbsp
                                     @if (Model.IsDecline == true && Model.IsActive == false)
                                   { 
                                   <a href="/admin/Decline/@Model.LoginID"><span id="decline" class="btn btn-primary">Decline</span></a>    
                                   }                                          
                                  <a href="/Admin/MoreInfo/@Model.LoginID" <span id="SendMail" class="btn btn-primary">Request for more info</span></a>
                                </div>
                            </div>*@
                        <div class="form-group row col-md-6 col-md-push-5 ngoviewdetails">
                            <div class="col-md-2">
                                <a href="/admin/Accept/@Model.LoginID"><span id="accept" class="btn btn-primary">Accept</span></a>
                                </div>
                              <div class="col-md-2">
                                     @if (Model.IsDecline == true && Model.IsActive == false)
                                   { 
                                   <a href="/admin/Decline/@Model.LoginID"><span id="decline" class="btn btn-primary">Decline</span></a>    
                                   }  
                                        </div> 
                                    <div class="col-md-2">                                       
                                   <span id="SendMail" class="btn btn-primary">Request for more info</span>
                                        </div>
                                </div>
                            </div>
                            </div>
    </div>
                      
                        
                    </form>
                      
                </div>


                
            </div>

</div>