@model CommonWeal.NGOWeb.Models.Admin_Pass
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Admin/Admin_Master.cshtml";
}
<form>
<div class="col-md-10 pull-right">
    <div class="row">
        <div class=" col-md-12">
            <div class="password-panel panel-default col-md-5">
                <div class="panel-header">
                    <h1>Change Password</h1>
                </div>
                <div class="form-group">
                    <label for="usr">Current Password:</label>
                    @Html.TextBoxFor(a => a.current_password, new { placeholder = "Current Password", @class = "form-control", @id = "cur-pwd" })
                    @Html.ValidationMessageFor(a => a.current_password)
                </div>

                <div class="form-group">
                    <label for="pwd">New Password:</label>
                    @Html.TextBoxFor(a => a.new_password, new { placeholder = "New Password", @class = "form-control", @id = "n-pwd" })
                    @Html.ValidationMessageFor(a => a.new_password)

                </div>
                <div class="form-group">
                    <label for="pwd">Confirm Password:</label>
                    @Html.TextBoxFor(a => a.confirm_password, new { placeholder = "Confirm Password", @class = "form-control", @id = "c-pwd" })
                    @Html.ValidationMessageFor(a => a.confirm_password)

                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary save">Save</button>
                    <button type="button" class="btn btn-default cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

    </form>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
